VITE_AZURE_DEVOPS_ORG=rameswarrath0329
VITE_AZURE_DEVOPS_PROJECT=RamAI
VITE_AZURE_DEVOPS_TEAM="RamAI Team"
VITE_AZURE_DEVOPS_PAT=YOUR_AZURE_DEVOPS_PAT_HERE

VITE_OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
